{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm border-0">
        <div class="card-body p-5">

            <h2 class="mb-4">ATS Analysis</h2>

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.cv.label_tag }}
                    {{ form.cv }}
                </div>

                <div class="mb-3">
                    {{ form.job_title.label_tag }}
                    {{ form.job_title }}
                </div>

                <div class="mb-4">
                    {{ form.job_description.label_tag }}
                    {{ form.job_description }}
                </div>

                <button type="submit" class="btn btn-success">
                    Analyse Compatibility
                </button>

            </form>

        </div>
    </div>
</div>
{% endblock %}