{% extends 'accounts/login.html' %}

{% block title %}Sign Up - MyValidCV{% endblock %}
{% block auth_heading %}Create account{% endblock %}
{% block auth_intro %}Sign up with Google, LinkedIn, or email.{% endblock %}
{% block google_label %}Sign up with Google{% endblock %}
{% block linkedin_label %}Sign up with LinkedIn{% endblock %}
{% block auth_submit %}Create account{% endblock %}
{% block auth_switch %}Already have an account?
    <a href="{% url 'login' %}?next={{ next|urlencode }}">Log in</a>
{% endblock %}
